.MuiPaper-root.MuiAppBar-root {
  background: black;
  color: white;
}

.toolbar h2 {
  display: inline;
  margin-left: 2rem;
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 4px 4px 5px rgb(13, 141, 245);
}

.links a {
  color: rgb(13, 141, 245);
  margin-right: 3rem;
  text-decoration: none;
  font-size: 2rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navIcons {
  display: none;
}

@media only screen and (max-width: 800px) {
  .links {
    margin-right: 0.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .navIcons {
    display: contents;
  }
}
