.MuiPaper-root.MuiAppBar-root {
  background: black;
  color: white;
}

.toolbar h2 {
  display: inline;
  margin-left: 2rem;
  font-style: italic;
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 4px 4px 5px rgb(13, 141, 245);
}
.navIcons {
  display: none;
}

.links a {
  color: rgb(13, 141, 245);
  margin-right: 3rem;
  text-decoration: none;
  font-size: 2rem;
}

.noLinks a {
  color: rgb(13, 141, 245);
  text-decoration: none;
  font-size: 2rem;
  margin: 4rem 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }
  .navIcons {
    display: contents;
  }
}

@media only screen and (max-width: 800px) {
  .links {
    display: none;
  }
  .navIcons {
    display: block;
  }

  .noLinks {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    /* background: rgb(15, 15, 15); */
    background: rgb(7, 7, 7);
    width: 90%;
    position: absolute;
    top: 60px;
    text-align: center;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: fadeInOut;
    border-radius: 2rem;
    padding: 3rem;
  }

  @keyframes fadeInOut {
    from {
      margin-top: -5%;
      width: 120%;
    }

    to {
      margin-bottom: 100%;
      width: 120%;
    }
  }

  .noLinks a {
    margin: 1rem 0rem;
  }
}
